<%- include('./includes/head.ejs')  %> 


<%- include('./includes/navigation.ejs')  %> 


  <%# Exclusive Contents %> 
<section class="exlusive">
  <h1>Exclusive Products</h1>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-new-arrivals-tab" data-bs-toggle="pill" data-bs-target="#pills-new-arrivals" type="button" role="tab" aria-controls="pills-new-arrivals" aria-selected="true">New Arrivals</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-best-sellers-tab" data-bs-toggle="pill" data-bs-target="#pills-best-sellers" type="button" role="tab" aria-controls="pills-best-sellers" aria-selected="false">Best Sellers</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-features-tab" data-bs-toggle="pill" data-bs-target="#pills-features" type="button" role="tab" aria-controls="pills-features" aria-selected="false">Features</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-special-offers-tab" data-bs-toggle="pill" data-bs-target="#pills-special-offers" type="button" role="tab" aria-controls="pills-special-offers" aria-selected="false">Special Offers</button>
      </li>
      </ul>

          <!-- New Arrival -->

      <div class="tab-content item-row" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-new-arrivals" role="tabpanel" aria-labelledby="pills-new-arrivals-tab">
        
        This is the new arrivals

      </div>

      <div class="tab-pane fade" id="pills-best-sellers" role="tabpanel" aria-labelledby="pills-best-sellers-tab"> 
        
        these are the best sellers
      
      </div>

      <div class="tab-pane fade" id="pills-features" role="tabpanel" aria-labelledby="pills-features-tab"> 
        
        these are the feeatures

      </div>

      <div class="tab-pane fade" id="pills-special-offers" role="tabpanel" aria-labelledby="pills-special-offers-tab"> 
        
        these are the special offers
      
      </div>
      </div>
</section>
























    <% if(products.length > 0){ %> 
      <div class=" row">
        <% for(let item of products){ %> 
            <div class="col-12	col-sm-6 col-md-4 col-lg-2 col-xl-2	col-xxl-2 spacebttm">
                <div class="card" >
                  <a href="/admin/preview/product/<%= item._id %>" class="btn ">
                    <img src=<%= item.image %>  class="card-img-top" style="height: 190px;" alt="...">
                    <div class="card-body">
                        <p class="card-text"><%= item.name %></p>
                        <p class="card-text price">$<%= item.price %></p>
                    </div>
                  </a>
                    <div class="triplet">
                        
                        <a href="/admin/preview/edit/<%= item._id %>" class="btn  btn-secondary">Edit</a>
                        <div>
                          <form action="/admin/preview/product/delete/<%= item._id %>" method="POST">
                            <button type="submit" class=" btn btn-danger">Delete</button>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 
      </div>
    <% }else{ %> 
      <h1>Shop not Set up yet</h1>
    <% } %> 
   


<%- include('./includes/footer.ejs')  %> 