<%- include('./includes/head.ejs')  %> 


<%- include('./includes/navigation.ejs')  %> 

    <% if(products.length > 0){ %> 
      <div class=" row">
        <% for(let item of products){ %> 
            <div class="col-12	col-sm-6 col-md-4 col-lg-2 col-xl-2	col-xxl-2 spacebttm">
                <div class="card" >
                  <a href="/admin/preview/product/<%= item._id %>" class="btn ">
                    <img src=<%= item.image %>  class="card-img-top" style="height: 190px;" alt="...">
                    <div class="card-body">
                        <p class="card-text"><%= item.name %></p>
                        <p class="card-text price">$<%= item.price %></p>
                    </div>
                  </a>
                    <div class="triplet">
                        
                        <a href="/admin/preview/edit/<%= item._id %>" class="btn  btn-secondary">Edit</a>
                        <div>
                          <form action="/admin/preview/product/delete/<%= item._id %>" method="POST">
                            <button type="submit" class=" btn btn-danger">Delete</button>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 
      </div>
    <% }else{ %> 
      <h1>Shop not Set up yet</h1>
    <% } %> 
   


<%- include('./includes/footer.ejs')  %> 