


<div class="filter-hamburger">
    <nav role="navigation">
      <div id="menuToggle">
        
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <div class="menu">
            <form action='/shop/filter' method="GET" enctype="multipart/form-data" id="form">
                <div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 2vh;">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Brand
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div> 
                                <% brands.map( item => { %> 
                                    <div class="form-check">
                                        <input class="form-check-input brand_check" type="checkbox" value=<%= item%> id="flexCheckChecked" name='brand'>
                                        <label class="form-check-label" for="flexCheckDefault"><%= item%></label>
                                      </div>
                                <% }) %> 
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Price
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="mb-6">
                                <label for="exampleFormControlInput1" class="form-label">Min Amount</label>
                                <input type="number" class="form-control" name='minAmount' id="exampleFormControlInput1" >
                            </div>
                            <div class="mb-6">
                                <label for="exampleFormControlInput1" class="form-label">Max Amount</label>
                                <input type="number" class="form-control" name='maxAmount' id="exampleFormControlInput1" >
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Color
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div> 
                                <% colors.map( item => { %> 
                                    <div class="form-check">
                                        <input class="form-check-input color_check" type="checkbox" value=<%= item%> id="flexCheckChecked" name='color' style="background-color:<%= item%> " >
                                        <label class="form-check-label" for="flexCheckDefault"><%= item%></label>
                                    </div>
                                <% }) %> 
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                          Gender
                        </button>
                      </h2>
                      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"><div> 
                            <% genders.map( item => { %> 
                                <div class="form-check">
                                    <input class="form-check-input gender_check" type="checkbox" value=<%= item%> id="flexCheckChecked" name='gender'>
                                    <label class="form-check-label" for="flexCheckDefault"><%= item%></label>
                                  </div>
                            <% }) %> 
                        </div></div>
                      </div>
                    </div>
                  </div>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <!-- <button class="btn btn-primary" type="submit" >Filter</button> -->
                  </div>
            </form> 
      </div>
      </div>
    </nav>
  </div>