<%- include('./includes/head.ejs')  %> 
<%- include('./includes/nav.ejs')  %> 
<link rel='stylesheet' href='/stylesheets/account.css' />
<link rel='stylesheet' href='/stylesheets/orders.css' />
<link rel='stylesheet' href='/stylesheets/billing.css' />


<section class="myaccount">
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">

            <!-- sidebar contents -->
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <a href="#">My Account</a>
              <div id="close-sidebar">
                <i class="fas fa-times"></i>
              </div>
            </div>
            <div class="sidebar-header">
              <div class="user-pic">
                <img class="img-responsive img-rounded" src="/images/shopper.jpeg" alt="User picture">
              </div>
              <div class="user-info">
                <span class="user-name">
                  <strong><%= user.name %> </strong>
                </span>
                <span class="user-role">Favorite shopper</span>
              </div>
            </div>
        
            <!-- General -->
            <div class="sidebar-menu">
              <ul>
                <li class="header-menu">
                  <span>General</span>
                </li>
                </li>

              </ul>
            <br>
              <div class="nav sidebar-items flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"> <i class="fas fa-user-edit"></i>
                    <span>Profile</span></button>

                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-map-marked-alt"></i>
                    <span>Manage Address</span></button>

                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-shopping-cart"></i>
                    <span>Purchases</span></button>

                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-wallet"></i>
                    <span>Billing Information</span></button>
                
              </div>
            </div>
            <!-- sidebar-menu  -->
          </div>


          <!-- sidebar-content  -->
          <div class="sidebar-footer">
            <a href="#">
              <i class="fa fa-bell"></i>
              <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
              <i class="fa fa-envelope"></i>
              <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
              <i class="fa fa-cog"></i>
              <span class="badge-sonar"></span>
            </a>
            <!-- logout -->
            <% if (user) { %>
              <a href="/logout" > <i class="fa fa-power-off"></i></a>
            <% }%>
          </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
          <div class="tab-content" id="v-pills-tabContent">
              <!-- Profile -->
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <%- include('./includes/profile.ejs')  %> 
              </div>

                <!-- Shipping Address -->
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <%- include('./includes/address.ejs')  %> 
              </div>

              <!-- This is the orders -->
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <%- include('./includes/orders.ejs')  %> 
              </div>

              <!-- Billing Info -->
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <%- include('./includes/billingInfo.ejs')  %> 
              </div>

          </div>
        </main>
        <!-- page-content" -->
      </div>
      <!-- page-wrapper -->
</section>

<script>
    
å
</script>
<%- include('./includes/footer.ejs')  %> 