
<%- include('./includes/head.ejs')  %> 
<%- include('./includes/nav.ejs')  %> 

<link rel='stylesheet' href='/stylesheets/cart.css' />
<!-- <link rel='stylesheet' href='/stylesheets/creditCard.css' /> -->

<section class="cart">
  
  <%if (user) { %>
    <% if (cart.length > 0 ){ %> 
      <div class="container cart-items scrollspy-example" data-spy="scroll" data-target="#spy">
        <% cart.forEach(el => { %>
          <div class="row col-md-9">
            <div class="card mb-3" style="max-width: 540px; max-height: 130px; box-shadow: 10px 7px 0px 0px #021e48; ">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src= <%= el.product.media.imageUrl %>  alt="" style="width: initial; height: 95px;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="name-price">
                      <h5 class="card-title"><a href="/shop/product/<%= el.product._id %>" class=""><%= el.product.title %></a> </h5>
                      <p class="card-text">$<%=  el.totalPrice %> </p>
                    </div>
                    <div class="cart-quantity">
                      <h4> Quantity: <span><%=  el.quantity %></span></h4>
                    </div>
                    <div class="actions">
                      
                      <form action="/shop/cart/remove" enctype="multipart/form-data" method="POST" class="cart-form">
                        <input type="hidden" name="prodId" value="<%= el.product._id %>">
                        <button class="btn remove" type="submit"> remove </button>
                      </form>

                      <span></span>

                      <form action="" enctype="multipart/form-data" method="POST" class="cart-form">
                        <input type="hidden" name="prodId" value="<%= el.product._id %>">
                        <button class="btn" type="submit"> save for later </button>
                      </form>

                    </div>
                  </div>   
                </div>
              </div>
            </div>
          </div>
        <% }) %>

        <div class="container" >
              <div class="row col-md-9">
                <div class=" subtotal mb-3" style="max-width: 540px; max-height: 100px; box-shadow:3px 4px 0px 0px #021e48; ">
                  <h3>SubTotal (<%=  length %>) : </h3>
                  <h4> $<%=  subtotal %></h4>
                </div>
              </div>
        </div>
      </div>


      <div class="subtotal card sbt2 col-md-3" style="height: 120px;  margin-right: 93px; box-shadow: 10px 7px 0px 0px #021e48;">
        <div class="length-total">
          <h3>SubTotal (<%=  length %>) : </h3>
          <h4> $<%=  subtotal %></h4>
        </div>
          
          <div class="checkout">
            <h3><a href="/shop/cart/checkout" class="btn btn-warning" >Proceed to Checkout</a></h3>
          </div>
      </div>

    <% }else { %> 
      <%# User logged in but no item in cart %> 
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/images/images/empty_cart.jpeg" alt="no_cart" style="height: 150px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> Your Simpleton Cart is empty</h5>
              <p class="card-text"> Please go to  <a href="/shop" class=""> shop </a> to add items.</p>
              <p class="card-text"><small class="text-muted">..then try again</small></p>
            </div>
          </div>
        </div>
      </div>
    <% } %> 


  <% } else { %>
     <%# User not logged in  %> 
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/images/images/empty_cart.jpeg" alt="no_cart" style="height: 150px;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"> Your Simpleton Cart is empty</h5>
                    <p class="card-text"> Please sign in with <a href="/auth/google" class="" > google</a> to see your cart</p>
                    <p class="card-text"><small class="text-muted">..and come back to visit again</small></p>
                  </div>
                </div>
              </div>
            </div>
  <% } %>
</section>



<%- include('./includes/footer.ejs')  %> 
 