
<%- include('./includes/head.ejs')  %> 
<%- include('./includes/nav.ejs')  %> 


<section class="cart">
  
      <%if (user) { %>
          
        <% if (cart.length > 0 ){ %> 
          
            <div class="container">
              
            
              <% cart.forEach(el => { %>
                <div class="row">
                  <div class="card mb-3" style="max-width: 540px; max-height: 100px;">
                      <div class="row g-0">

                          <div class="col-md-4">
                              <img src= <%= el.product.image %>  alt="" style="max-width: 200px; max-height: 100px;">
                          </div>
                          <div class="col-md-8">
                              <div class="card-body">
                                  <div class="name-price">
                                      <h5 class="card-title"><%=  el.product.name %> </h5>
                                      <p class="card-text">$<%=  el.totalPrice %> </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              <% }) %>
            
          </div>
        <% } %> 

        <div class="subtotal">
            <h3>SubTotal: </h3>
            <h4>$<%=  subtotal %></h4>
        </div>

      <% } else { %>
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="..." alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"> Your Simpleton Cart is empty</h5>
                    <p class="card-text"> Please sign in with <a href="/auth/google" class="" > google</a> to see your cart</p>
                    <p class="card-text"><small class="text-muted">..somethings goes in here</small></p>
                  </div>
                </div>
              </div>
            </div>
      <% } %>


        
        
    
</section>






<%- include('./includes/footer.ejs')  %> 
 