<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
<%- include('./includes/head.ejs')  %> 


<%- include('./includes/nav.ejs')  %> 
<link rel='stylesheet' href='/stylesheets/home.css' />
   

<section class="home">
    <div class="home-display">
        <div class="container shoe-info-container"> 
            <div class="row">
              <div class="col-3 display-item brand">
                <div class="brand-image">
                    <img src="/images/images/nike.png" alt="front" />
                </div>
                <div class="brand-slogan"> 
                    <div class="slogan">
                        <h1>
                            <span>JUST</span>
                            <br> <span>DO</span>
                            <br><span>IT</span>
                        </h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, laudantium.</p>
                    </div>
                </div>
                
                
            </div>
            <div class="col-7 display-item">
                <div class="display-shoe">
                        <img src="/images/images/brands/nike.png" alt="front" style="width: 350px;"/>
                  </div>
                  <div class="platform">
                    <div class=" platform1">
                      <div class=" platform2">
                          <div class="platform3">
                              <div class="platform4"></div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>


              <div class="col-2 display-item">
                <div class="display-name">
                    <h4>ASICS Gel-Lyte III Limited Edt SBTG Monsoon Patrol 2 Lichen Green</h4>
                    <h5 style="color: #e85e5e;">$400</h5>
                </div>


              </div>
            </div>
        </div>
        <div class="container carousel-container" >
            <div class="owl-carousel owl-theme">
                <% for(prod in randomProd){ %> 
                    <div >
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0 img-form-price">
                              <div class="col-md-9 ">
                                <a href="/shop/product/<%= randomProd[prod]._id %>">
                                    <img src= <%= randomProd[prod].media.imageUrl %>  alt="" />
                                </a>
                              </div>
                              <div class="col-md-3 form-price">
                                    <p style="color: #690609;" >$<%= randomProd[prod].retailPrice %></p>
                                    <form action="/shop/cart" enctype="multipart/form-data" method="POST" class="cart-icon">
                                        <input class=" form-control quantity" name= "quantity" value="1" style="display: none;"  />
                                        <input type="hidden" name="prodId" value="<%= randomProd[prod]._id%>" style="display: none;"/>
                                        <input type="hidden" name="price" value="<%= randomProd[prod].retailPrice %>" style="display: none;"/>
                                        <button type="submit"><i class="fas fa-shopping-bag" ></i></button>
                                    </form>
                              </div>
                            </div>
                          </div>


                          <p style="    font-size: 15px;     margin-top: -10px;"><%= randomProd[prod].name %></p>
                    </div>
                <% } %>
              </div>
        </div>
    </div>
    
   
</section>
<%- include('./includes/footer.ejs')  %> 







 
 