
    <link rel='stylesheet' href='/stylesheets/orders.css' />
<%- include('./includes/head.ejs')  %> 
<%- include('./includes/nav.ejs')  %> 

<section class="orders">


    <% if (orders.length <= 0) { %>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/images/images/empty_cart.jpeg" alt="no_cart" style="height: 150px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> No Orders Yet</h5>
                  <p class="card-text"> Please checkout your cart to see made orders</p>
                  <p class="card-text"><small class="text-muted">..and come back to visit again</small></p>
                </div>
              </div>
            </div>
          </div>
    <% } else { %>
        <% orders.forEach(order => { %>
            <div class="order-container container">
                <div class="orderNo-paid">
                    <small class="text-muted">Order - # <%= order._id %></small> 
                    
                </div>
                <% order.products.forEach(el =>{ %>
                    <div class="container "> 
                        <div class="row"> 
                            <div class="card mb-3" style="width: 25rem; height: 4.5rem;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                <img src= <%= el.product.image %>  alt="" style="width: 80px; height: 70px;">
                                </div>
                                <div class="col-md-8">
                                <div class="card-body">
                                    <div class="name-price">
                                        <h5 class="card-title text-muted"> <%=  el.product.name %></h5>
                                        <p class="card-text text-muted">$<%=  el.totalPrice %></p>
                                    </div>
                                    <div class="cart-quantity">
                                        <h4> Quantity: <span><%=  el.quantity %></span></h4>
                                        </div>
                                    <p class="card-text"></p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>  
                <% }) %>
                <h5 class="text-muted" style="align-self: flex-end;">Total Amount - $<%= order.paid %></h5> 
            </div>
            <hr>
        <% }); %>
    <% } %>


</section>

<%- include('./includes/featured')  %> 

<%- include('./includes/footer.ejs')  %> 