

<%- include('./includes/head.ejs')  %> 
<%- include('./includes/nav.ejs')  %> 
<link rel='stylesheet' href='/stylesheets/singleProduct.css' />
<section class="product-platform">

<div class="container">
    <div class="row ">

        <%# product image %> 
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7 ">
            <img src=<%= product.media.imageUrl %>  class=" mx-auto d-block product-image" alt="...">
            <div class="platform">
                <div class=" platform1">
                  <div class=" platform2"></div>
                </div>
            </div>
        </div>


        <%# Product Info %> 
        <div class="col-12	col-sm-12 col-md-12 col-lg-4 col-xl-4	col-xxl-4">


            <div class="card" style="">
                <div class="card-body">
                    <div class="product-info1">

                    </div>

                    <div class="product-info2">

                    </div>

                    <div class="product-info3">

                    </div>

                    <div class="product-info4">
                         <!-- Add to Cart -->
                        <div class="product-cart">
                            <!-- add to cart -->
                            <%- include('./includes/add-to-cart.ejs')  %> 

                            <!-- add to wish list -->
                            <form action="/shop/wish-list" method="POST" class="cart-form" enctype="multipart/form-data">
                                <input type="hidden" name="prodId" value="<%= product._id %> ">
                                <button class="btn btn-danger" type="submit"> Add to wishlist </button>
                            </form>
                        </div>
                    </div>
                  
                </div>
              </div>


           
        </div>
    </div>
 </div>   



</section>

 


 <%- include('./includes/footer.ejs')  %> 