

<%- include('./includes/head.ejs')  %> 
<%- include('./includes/nav.ejs')  %> 
<link rel='stylesheet' href='/stylesheets/detail.css' />




<section class="product-platform" >

    <div class="container">
        <div class="row ">

            <%# product image %> 
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7 product-picture">
                <img src=<%= product.media.imageUrl %>  class=" mx-auto d-block product-image" alt="...">
            </div>


            <%# Product Info %> 
            <div class="col-12	col-sm-12 col-md-12 col-lg-4 col-xl-4	col-xxl-4">


                <div class="card details">
                    <div class="card-body">
                        <div class="product-info1">
                                <h5><%= product.title %>  </h5>
                                <p class="text-muted"><small><%= product.name %>  </small></p>
                                <h4 class="price">$<%= product.retailPrice %></h4>
                        </div>

                        <div class="product-info2">
                            <h6 class="colors text-muted">Colorways: <%= product.colorway %></h6>
                        </div>

                        <div class="product-info3">
                            <!-- Add to Cart -->
                            <div class="product-cart">
                                <%- include('./includes/add-to-cart.ejs')  %> 
                            </div>
                        </div>
                    
                    </div>
                </div>


            
            </div>
        </div>
    </div>   



</section>

 


 <%- include('./includes/footer.ejs')  %> 