

<%- include('./includes/head.ejs')  %> 
<%- include('./includes/nav.ejs')  %> 
   





<div class="container">
    <div class="row">

        <%# product image %> 
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 ">
            <img src=<%= product.image %>  class=" mx-auto d-block product-image" alt="...">
        </div>


        <%# Product Info %> 
        <div class="col-12	col-sm-12 col-md-12 col-lg-8 col-xl-8	col-xxl-8">
            <div class="product-name"><h1><%= product.name %> </h1></div>
            <div class="product-price-rating">
                <h2 class="price">$<%= product.price %> </h2>
                <div class="star">
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span><span>(<%= product.ratings %>)</span>
                </div>

            </div>
            <div class="product-description dimtext">
                <p><%= product.description %> </p>
            </div>

            <%# warranty number from the database %> 
            <div class="product-warranty">
                <p><span class="fas fa-shield-alt shield"></span>  1 year Simpleton Brand Warranty</p>
            </div>

            <%# return policy number from db %> 
            <div class="return-policy">
                <p> <span class="fas fa-sync sync"></span>  30 days return policy</p>
            </div>

            <div class="delivery-method">
                <p><span class="fas fa-hand-holding-usd cash"></span> Cash on delivery available</p>
                <p><span class="fas fa-truck truck"></span> Delivery: <%= product.delivery %> </p>
            </div>

            <%# colors from the data base %> 
            <div class="product-color">
               <p class="dimtext">Color :</p>
               <span class="color1" style="background-color: rgb(135, 85, 75)"></span>
               <span class="color2" style="background-color: rgb(51, 51, 51)"></span>
               <span class="color3" style="background-color: rgb(218, 50, 63)" ></span>
            </div>
            <div class="product-quantity-cart-wishlist"></div>
            
            

            <%# sizes from the data base %> 
            <div class="product-size"> 
                <p class="dimtext">Size:</p>             
                    <span>xs</span>
                    <span>s</span>
                    <span>m</span>
                    <span>l</span>
                    <span>xl</span>
            </div>


             <!-- Add to Cart -->
             <div class="product-cart">
             <form action="/shop/product/add-to-cart/<%= product._id %>  " method="POST">

                <button class="btn btn-danger" type="submit"> Add to Cart </button>
            </form>
             <form action="/shop/product/add-to-wish-list/<%= product._id %>  " method="POST">

                <button class="btn btn-danger" type="submit"> Add to wishlist </button>
            </form>
        </div>

            <hr>
            <div class="product-category">
                <p class="dimtext">Category:</p>
                <span><%= product.category %></span>
            </div>

            <%# tags from the data base %> 
            <div class="product-tags">
                <p class="dimtext">Tags:</p>
                <ul>
                    <li>
                        <%= product.category %>
                    </li>
                    <li>
                        <%= product.category %>
                    </li>
                    <li>
                        <%= product.category %>
                    </li>
                </ul>
            </div>

            <div class="share">
                <p class="dimtext">Share:</p>
                <span>facebook</span>
                <span>twitter</span>
                <span>instagram</span>
            </div>
        </div>
    </div>
 </div>   



 


 <%- include('./includes/footer.ejs')  %> 